
// 整体背景设置
body {
 	background:url(/images/background.jpg);// 设定背景图片,images同处于source文件夹下
 	background-repeat: no-repeat;// 设定背景图片非重复填充
    background-attachment:fixed;// 设置背景图片不随页面滚动
    background-position:50% 50%;// 设置背景图片位置
	background-size: cover// 设置保持图像的纵横比并将图像缩放成将完全覆盖背景定位区域的最小大小
}
.headband{
	background:transparent;
	height:5px;
}

.header-inner .site-brand-container{
	background:#1C1C1A;
	opacity:0.9;
}

.posts-expand .post-header{
	margin-bottom:0;
}

/*.menu .menu-item a{
	color:red;
}*/
.main-inner { 
    //margin-top: 60px;
    //padding: 60px 60px 60px 60px;
    background: #fff;
    opacity: 0.8;
    min-height: 500px;
	//z-index: 0;
}
// 页面头样式属性
.header-inner {
  // 也可以同时定义背景色
   background-color:rgba(255,255,255,0.8); 
  // 透明度
   //opacity: 0.8;
}
// sidebar侧边工具栏样式属性
.sidebar{
    // 动画过渡时间
	transition-duration: 0.04s;
    // 透明度
	opacity: 0.8
	//color:red;
}
// 标题样式
.posts-expand .post-title-link {
	// 设置字体颜色
	color: #222;
}

//查询search
.search-popup input.search-input{
	color:#cacac1;
}
.search-popup .search-result-container .search-result-list a{
	color:#a5a59e;
	transition:all 0.2s linear;
}
.search-popup .search-result-container .search-result-list a:hover{
	color:#e8e8e5;
	border-bottom:1px solid #cccbcb;
	
}
.search-popup .search-header{
	background:#333131;
}
.search-popup .search-result-container{
	background:#383737;
}